@font-face {
  font-family: 'GT Walsheim ProMedium';
  src: url('GT-Walsheim-Pro-Medium.eot'); /* IE9 Compat Modes */
  src: url('GT-Walsheim-Pro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('GT-Walsheim-Pro-Medium.woff') format('woff'), /* Modern Browsers */
       url('GT-Walsheim-Pro-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('GT-Walsheim-Pro-Medium.svg#80a02a2e348f88fcc2dfba6fa0f6048e') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}


@font-face {
    font-family: 'GT America';
    src: url('GTAmerica-Regular.eot');
    src: url('GTAmerica-Regular.eot?#iefix') format('embedded-opentype'),
        url('GTAmerica-Regular.woff2') format('woff2'),
        url('GTAmerica-Regular.woff') format('woff'),
        url('GTAmerica-Regular.ttf') format('truetype'),
        url('GTAmerica-Regular.svg#GTAmerica-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('GTAmerica-Medium.eot');
    src: url('GTAmerica-Medium.eot?#iefix') format('embedded-opentype'),
        url('GTAmerica-Medium.woff2') format('woff2'),
        url('GTAmerica-Medium.woff') format('woff'),
        url('GTAmerica-Medium.ttf') format('truetype'),
        url('GTAmerica-Medium.svg#GTAmerica-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
